<div class="main-visual">
	<div class="main-visual-contents">
		<section>
			<h1 class="top-headline">Study Diary</h1>
		</section>
		<div>
			<ul class="top-list">
				<li class="top-list-item">
					<a href='/todolists'>Index</a>
				</li>
				<li class="top-list-item">
					<a href='/todolists/new'><p>New</p></a>
				</li>
			</ul>
		</div>
	</div>
</div>