<h2>タイトル</h2>
<p><%= @chart.title %></p>
<h2>日付</h2>
<p><%= @chart.date %></p>
<h2>本文</h2>
<p><%= simple_format(@chart.body) %></p>
<%= link_to "編集", edit_todolist_path(@chart.id) %>
<a href="/top"><h3>Topへ</h3></a>